({:max-length 10,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/greek-gods-en.csv",
  :variance 3.244897959183673,
  :distinct true,
  :dup-count 0,
  :sorted true,
  :count 14,
  :avg-length 6.428571428571429,
  :quality 15,
  :single-words 14,
  :mul-words 0,
  :special-chars 0}
 {:max-length 8,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./military/nato-phonetic-alphabet-en.csv",
  :variance 1.457100591715976,
  :distinct true,
  :dup-count 0,
  :sorted true,
  :count 26,
  :avg-length 5.346153846153846,
  :quality 14,
  :single-words 26,
  :mul-words 0,
  :special-chars 1}
 {:max-length 10,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./science/common-flower-names-en.csv",
  :variance 3.653979238754325,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 17,
  :avg-length 6.588235294117647,
  :quality 10,
  :single-words 17,
  :mul-words 0,
  :special-chars 0}
 {:max-length 10,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./culture/greek-titans-en.csv",
  :variance 3.204081632653061,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 28,
  :avg-length 6.285714285714286,
  :quality 10,
  :single-words 28,
  :mul-words 0,
  :special-chars 0}
 {:max-length 7,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/roman-major-gods-en.csv",
  :variance 1.354166666666667,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 12,
  :avg-length 5.75,
  :quality 10,
  :single-words 12,
  :mul-words 0,
  :special-chars 0}
 {:max-length 3,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./time/days-of-week-short-en.csv",
  :variance 0.0,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 7,
  :avg-length 3.0,
  :quality 10,
  :single-words 7,
  :mul-words 0,
  :special-chars 0}
 {:max-length 9,
  :min-length 6,
  :empty-lines 0,
  :dups nil,
  :file "./time/days-of-week-en.csv",
  :variance 1.26530612244898,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 7,
  :avg-length 7.142857142857143,
  :quality 10,
  :single-words 7,
  :mul-words 0,
  :special-chars 0}
 {:max-length 9,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./time/months-of-year-en.csv",
  :variance 3.472222222222222,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 12,
  :avg-length 6.166666666666667,
  :quality 10,
  :single-words 12,
  :mul-words 0,
  :special-chars 0}
 {:max-length 11,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./time/zodiac-signs-en.csv",
  :variance 4.076388888888889,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 12,
  :avg-length 6.416666666666667,
  :quality 10,
  :single-words 12,
  :mul-words 0,
  :special-chars 0}
 {:max-length 10,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/presidents/us-presidents-surnames.csv",
  :variance 2.691650230111769,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 39,
  :avg-length 6.641025641025641,
  :quality 9,
  :single-words 38,
  :mul-words 1,
  :special-chars 1}
 {:max-length 9,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/starcraft/protos-characters.csv",
  :variance 1.993055555555556,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 24,
  :avg-length 6.583333333333333,
  :quality 8,
  :single-words 24,
  :mul-words 0,
  :special-chars 2}
 {:max-length 13,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-elements-en.csv",
  :variance 3.553073829359379,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 118,
  :avg-length 7.822033898305085,
  :quality 5,
  :single-words 118,
  :mul-words 0,
  :special-chars 0}
 {:max-length 9,
  :min-length 2,
  :empty-lines 0,
  :dups nil,
  :file "./locations/solar-system-names-en.csv",
  :variance 2.185595567867036,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 38,
  :avg-length 5.842105263157895,
  :quality 5,
  :single-words 38,
  :mul-words 0,
  :special-chars 0}
 {:max-length 20,
  :min-length 3,
  :empty-lines 0,
  :dups ("Cornsilk"
         "OrangeRed"
         "DarkRed"
         "LightSalmon"
         "SandyBrown"
         "DarkOrange"
         "Coral"
         "LightCoral"
         "Gold"
         "Burlywood"
         "Brown"
         "LemonChiffon"
         "PapayaWhip"
         "Chocolate"
         "Crimson"
         "BlanchedAlmond"
         "PaleGoldenrod"
         "Khaki"
         "Salmon"
         "Tomato"
         "Orange"
         "LightYellow"
         "NavajoWhite"
         "PeachPuff"
         "Bisque"
         "Sienna"
         "DarkGoldenrod"
         "Red"
         "DarkSalmon"
         "Maroon"
         "DarkKhaki"
         "Peru"
         "SaddleBrown"
         "Tan"
         "IndianRed"
         "Goldenrod"
         "Firebrick"
         "Wheat"
         "Moccasin"
         "RosyBrown"
         "Yellow"
         "LightGoldenrodYellow"),
  :file "./colors/web-colors-en.csv",
  :variance 10.09876543209877,
  :distinct false,
  :dup-count 42,
  :sorted false,
  :count 135,
  :avg-length 8.444444444444445,
  :quality 5,
  :single-words 135,
  :mul-words 0,
  :special-chars 0}
 {:max-length 7,
  :min-length 2,
  :empty-lines 0,
  :dups nil,
  :file "./time/chinese-zodiac-signs-en.csv",
  :variance 2.354166666666667,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 12,
  :avg-length 4.75,
  :quality 5,
  :single-words 12,
  :mul-words 0,
  :special-chars 0}
 {:max-length 13,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./docker/adjectives.csv",
  :variance 3.861949358307319,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 93,
  :avg-length 7.290322580645161,
  :quality 5,
  :single-words 93,
  :mul-words 0,
  :special-chars 0}
 {:max-length 13,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./docker/scientists.csv",
  :variance 3.4340234375,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 160,
  :avg-length 6.73125,
  :quality 5,
  :single-words 160,
  :mul-words 0,
  :special-chars 0}
 {:max-length 11,
  :min-length 5,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-elements-lt.csv",
  :variance 2.789426951710949,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 121,
  :avg-length 7.231404958677686,
  :quality 4,
  :single-words 121,
  :mul-words 0,
  :special-chars 6}
 {:max-length 16,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./science/brightest-stars-en.csv",
  :variance 3.959183673469388,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 91,
  :avg-length 6.571428571428571,
  :quality 3,
  :single-words 89,
  :mul-words 2,
  :special-chars 2}
 {:max-length 13,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/fruit-names-en.csv",
  :variance 5.370534023481884,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 89,
  :avg-length 7.719101123595506,
  :quality 3,
  :single-words 87,
  :mul-words 2,
  :special-chars 2}
 {:max-length 13,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./military/russian-phonetic-alphabet-en.csv",
  :variance 5.3740234375,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 32,
  :avg-length 6.53125,
  :quality 2,
  :single-words 29,
  :mul-words 3,
  :special-chars 3}
 {:max-length 23,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-compounds-en.csv",
  :variance 12.84702932098765,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 72,
  :avg-length 8.01388888888889,
  :quality -1,
  :single-words 66,
  :mul-words 6,
  :special-chars 6}
 {:max-length 19,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/constellations-names-en.csv",
  :variance 9.949896694214877,
  :distinct true,
  :dup-count 0,
  :sorted true,
  :count 88,
  :avg-length 7.568181818181818,
  :quality -3,
  :single-words 77,
  :mul-words 11,
  :special-chars 13}
 {:max-length 12,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-elements-es.csv",
  :variance 3.172364263142775,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 118,
  :avg-length 6.88135593220339,
  :quality -9,
  :single-words 118,
  :mul-words 0,
  :special-chars 14}
 {:max-length 22,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/starcraft/human-characters.csv",
  :variance 12.77734375,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 16,
  :avg-length 12.8125,
  :quality -10,
  :single-words 1,
  :mul-words 15,
  :special-chars 15}
 {:max-length 15,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./culture/roman-gods-all-en.csv",
  :variance 5.374976886094675,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 208,
  :avg-length 7.120192307692308,
  :quality -12,
  :single-words 192,
  :mul-words 16,
  :special-chars 17}
 {:max-length 13,
  :min-length 0,
  :empty-lines 1,
  :dups nil,
  :file "./science/animal-names-en.csv",
  :variance 4.953981008035062,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 259,
  :avg-length 6.27027027027027,
  :quality -20,
  :single-words 249,
  :mul-words 10,
  :special-chars 10}
 {:max-length 15,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/lithuanian-gods-lt.csv",
  :variance 5.9316,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 50,
  :avg-length 7.78,
  :quality -20,
  :single-words 47,
  :mul-words 3,
  :special-chars 25}
 {:max-length 14,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./military/russian-phonetic-alphabet-ru.csv",
  :variance 5.8125,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 32,
  :avg-length 7.0,
  :quality -27,
  :single-words 29,
  :mul-words 3,
  :special-chars 32}
 {:max-length 19,
  :min-length 2,
  :empty-lines 0,
  :dups nil,
  :file "./culture/germanic-norse-gods-de-no.csv",
  :variance 5.420515165371132,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 81,
  :avg-length 5.246913580246914,
  :quality -29,
  :single-words 80,
  :mul-words 1,
  :special-chars 29}
 {:max-length 33,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./locations/country-names-en.csv",
  :variance 22.2791551882461,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 198,
  :avg-length 8.727272727272727,
  :quality -32,
  :single-words 163,
  :mul-words 35,
  :special-chars 37}
 {:max-length 25,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./locations/country-capital-names-en.csv",
  :variance 8.16326328556224,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 201,
  :avg-length 7.810945273631841,
  :quality -35,
  :single-words 172,
  :mul-words 29,
  :special-chars 40}
 {:max-length 22,
  :min-length 10,
  :empty-lines 0,
  :dups nil,
  :file "./culture/presidents/us-presidents-full.csv",
  :variance 7.315599173553719,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 44,
  :avg-length 15.15909090909091,
  :quality -39,
  :single-words 0,
  :mul-words 44,
  :special-chars 44}
 {:max-length 15,
  :min-length 5,
  :empty-lines 0,
  :dups nil,
  :file "./locations/us-state-names-en.csv",
  :variance 6.8464,
  :distinct true,
  :dup-count 0,
  :sorted true,
  :count 50,
  :avg-length 9.44,
  :quality -40,
  :single-words 40,
  :mul-words 10,
  :special-chars 50}
 {:max-length 15,
  :min-length 0,
  :empty-lines 1,
  :dups nil,
  :file "./starwars/planets.csv",
  :variance 5.333693000562957,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 146,
  :avg-length 7.171232876712329,
  :quality -41,
  :single-words 123,
  :mul-words 23,
  :special-chars 31}
 {:max-length 19,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./science/plants-pollinated-by-bees-en.csv",
  :variance 8.80130224742701,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 138,
  :avg-length 8.768115942028986,
  :quality -42,
  :single-words 93,
  :mul-words 45,
  :special-chars 47}
 {:max-length 21,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemistry-metals-en.csv",
  :variance 5.459113686626914,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 1512,
  :avg-length 9.764550264550264,
  :quality -51,
  :single-words 1499,
  :mul-words 13,
  :special-chars 56}
 {:max-length 22,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/fish-names-en.csv",
  :variance 9.301525532752391,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 559,
  :avg-length 8.518783542039357,
  :quality -72,
  :single-words 491,
  :mul-words 68,
  :special-chars 77}
 {:max-length 16,
  :min-length 1,
  :empty-lines 0,
  :dups nil,
  :file "./culture/starcraft/planet-names.csv",
  :variance 6.819853867472915,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 189,
  :avg-length 7.984126984126984,
  :quality -87,
  :single-words 109,
  :mul-words 80,
  :special-chars 87}
 {:max-length 21,
  :min-length 2,
  :empty-lines 0,
  :dups nil,
  :file "./culture/biblical-names-en.csv",
  :variance 4.364489333354484,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 2669,
  :avg-length 6.530161109029599,
  :quality -103,
  :single-words 2669,
  :mul-words 0,
  :special-chars 103}
 {:max-length 26,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./colors/sRGB-EN.csv",
  :variance 16.72809488378685,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 336,
  :avg-length 11.30059523809524,
  :quality -241,
  :single-words 93,
  :mul-words 243,
  :special-chars 246}
 {:max-length 38,
  :min-length 5,
  :empty-lines 0,
  :dups nil,
  :file "./Scientists/famous-names.csv",
  :variance 16.94437522249911,
  :distinct true,
  :dup-count 0,
  :sorted false,
  :count 424,
  :avg-length 14.76415094339623,
  :quality -400,
  :single-words 20,
  :mul-words 404,
  :special-chars 405})
