({:max-length 10,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/greek-gods-en.csv",
  :distinct true,
  :sorted true,
  :count 14,
  :quality 15,
  :single-words 14,
  :special-chars 0}
 {:max-length 8,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./military/nato-phonetic-alphabet-en.csv",
  :distinct true,
  :sorted true,
  :count 26,
  :quality 14,
  :single-words 26,
  :special-chars 1}
 {:max-length 10,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./science/common-flower-names-en.csv",
  :distinct true,
  :sorted false,
  :count 17,
  :quality 10,
  :single-words 17,
  :special-chars 0}
 {:max-length 10,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./culture/greek-titans-en.csv",
  :distinct true,
  :sorted false,
  :count 28,
  :quality 10,
  :single-words 28,
  :special-chars 0}
 {:max-length 7,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/roman-major-gods-en.csv",
  :distinct true,
  :sorted false,
  :count 12,
  :quality 10,
  :single-words 12,
  :special-chars 0}
 {:max-length 3,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./time/days-of-week-short-en.csv",
  :distinct true,
  :sorted false,
  :count 7,
  :quality 10,
  :single-words 7,
  :special-chars 0}
 {:max-length 9,
  :min-length 6,
  :empty-lines 0,
  :dups nil,
  :file "./time/days-of-week-en.csv",
  :distinct true,
  :sorted false,
  :count 7,
  :quality 10,
  :single-words 7,
  :special-chars 0}
 {:max-length 9,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./time/months-of-year-en.csv",
  :distinct true,
  :sorted false,
  :count 12,
  :quality 10,
  :single-words 12,
  :special-chars 0}
 {:max-length 11,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./time/zodiac-signs-en.csv",
  :distinct true,
  :sorted false,
  :count 12,
  :quality 10,
  :single-words 12,
  :special-chars 0}
 {:max-length 10,
  :min-length 4,
  :empty-lines 0,
  :dups ("Roosevelt" "Johnson" "Harrison" "Bush"),
  :file "./culture/presidents/us-presidents-surnames.csv",
  :distinct false,
  :sorted false,
  :count 44,
  :quality 9,
  :single-words 43,
  :special-chars 1}
 {:max-length 9,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/starcraft/protos-characters.csv",
  :distinct true,
  :sorted false,
  :count 24,
  :quality 8,
  :single-words 24,
  :special-chars 2}
 {:max-length 13,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-elements-en.csv",
  :distinct true,
  :sorted false,
  :count 118,
  :quality 5,
  :single-words 118,
  :special-chars 0}
 {:max-length 9,
  :min-length 2,
  :empty-lines 0,
  :dups nil,
  :file "./locations/solar-system-names-en.csv",
  :distinct true,
  :sorted false,
  :count 38,
  :quality 5,
  :single-words 38,
  :special-chars 0}
 {:max-length 20,
  :min-length 3,
  :empty-lines 0,
  :dups ("Cornsilk"
         "OrangeRed"
         "DarkRed"
         "LightSalmon"
         "SandyBrown"
         "DarkOrange"
         "Coral"
         "LightCoral"
         "Gold"
         "Burlywood"
         "Brown"
         "LemonChiffon"
         "PapayaWhip"
         "Chocolate"
         "Crimson"
         "BlanchedAlmond"
         "PaleGoldenrod"
         "Khaki"
         "Salmon"
         "Tomato"
         "Orange"
         "LightYellow"
         "NavajoWhite"
         "PeachPuff"
         "Bisque"
         "Sienna"
         "DarkGoldenrod"
         "Red"
         "DarkSalmon"
         "Maroon"
         "DarkKhaki"
         "Peru"
         "SaddleBrown"
         "Tan"
         "IndianRed"
         "Goldenrod"
         "Firebrick"
         "Wheat"
         "Moccasin"
         "RosyBrown"
         "Yellow"
         "LightGoldenrodYellow"),
  :file "./colors/web-colors-en.csv",
  :distinct false,
  :sorted false,
  :count 135,
  :quality 5,
  :single-words 135,
  :special-chars 0}
 {:max-length 7,
  :min-length 2,
  :empty-lines 0,
  :dups nil,
  :file "./time/chinese-zodiac-signs-en.csv",
  :distinct true,
  :sorted false,
  :count 12,
  :quality 5,
  :single-words 12,
  :special-chars 0}
 {:max-length 13,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./docker/adjectives.csv",
  :distinct true,
  :sorted false,
  :count 93,
  :quality 5,
  :single-words 93,
  :special-chars 0}
 {:max-length 13,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./docker/scientists.csv",
  :distinct true,
  :sorted false,
  :count 160,
  :quality 5,
  :single-words 160,
  :special-chars 0}
 {:max-length 11,
  :min-length 5,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-elements-lt.csv",
  :distinct true,
  :sorted false,
  :count 121,
  :quality 4,
  :single-words 121,
  :special-chars 6}
 {:max-length 16,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./science/brightest-stars-en.csv",
  :distinct true,
  :sorted false,
  :count 91,
  :quality 3,
  :single-words 89,
  :special-chars 2}
 {:max-length 13,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/fruit-names-en.csv",
  :distinct true,
  :sorted false,
  :count 89,
  :quality 3,
  :single-words 87,
  :special-chars 2}
 {:max-length 13,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./military/russian-phonetic-alphabet-en.csv",
  :distinct true,
  :sorted false,
  :count 32,
  :quality 2,
  :single-words 29,
  :special-chars 3}
 {:max-length 23,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-compounds-en.csv",
  :distinct true,
  :sorted false,
  :count 72,
  :quality -1,
  :single-words 66,
  :special-chars 6}
 {:max-length 19,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/constellations-names-en.csv",
  :distinct true,
  :sorted true,
  :count 88,
  :quality -3,
  :single-words 77,
  :special-chars 13}
 {:max-length 12,
  :min-length 3,
  :empty-lines 0,
  :dups nil,
  :file "./science/chemical-elements-es.csv",
  :distinct true,
  :sorted false,
  :count 118,
  :quality -9,
  :single-words 118,
  :special-chars 14}
 {:max-length 22,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/starcraft/human-characters.csv",
  :distinct true,
  :sorted false,
  :count 16,
  :quality -10,
  :single-words 1,
  :special-chars 15}
 {:max-length 13,
  :min-length 0,
  :empty-lines 1,
  :dups nil,
  :file "./science/animal-names-en.csv",
  :distinct true,
  :sorted false,
  :count 259,
  :quality -20,
  :single-words 249,
  :special-chars 10}
 {:max-length 15,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./culture/lithuanian-gods-lt.csv",
  :distinct true,
  :sorted false,
  :count 50,
  :quality -20,
  :single-words 47,
  :special-chars 25}
 {:max-length 14,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./military/russian-phonetic-alphabet-ru.csv",
  :distinct true,
  :sorted false,
  :count 32,
  :quality -27,
  :single-words 29,
  :special-chars 32}
 {:max-length 15,
  :min-length 0,
  :empty-lines 1,
  :dups ("Epona"),
  :file "./culture/roman-gods-all-en.csv",
  :distinct false,
  :sorted false,
  :count 210,
  :quality -27,
  :single-words 193,
  :special-chars 17}
 {:max-length 19,
  :min-length 2,
  :empty-lines 0,
  :dups nil,
  :file "./culture/germanic-norse-gods-de-no.csv",
  :distinct true,
  :sorted false,
  :count 81,
  :quality -29,
  :single-words 80,
  :special-chars 29}
 {:max-length 33,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./locations/country-names-en.csv",
  :distinct true,
  :sorted false,
  :count 198,
  :quality -32,
  :single-words 163,
  :special-chars 37}
 {:max-length 25,
  :min-length 4,
  :empty-lines 0,
  :dups ("Jerusalem"),
  :file "./locations/country-capital-names-en.csv",
  :distinct false,
  :sorted false,
  :count 202,
  :quality -35,
  :single-words 173,
  :special-chars 40}
 {:max-length 15,
  :min-length 5,
  :empty-lines 0,
  :dups nil,
  :file "./locations/us-state-names-en.csv",
  :distinct true,
  :sorted true,
  :count 50,
  :quality -40,
  :single-words 40,
  :special-chars 50}
 {:max-length 22,
  :min-length 10,
  :empty-lines 0,
  :dups ("Grover Cleveland"),
  :file "./culture/presidents/us-presidents-full.csv",
  :distinct false,
  :sorted false,
  :count 45,
  :quality -40,
  :single-words 0,
  :special-chars 45}
 {:max-length 15,
  :min-length 0,
  :empty-lines 1,
  :dups nil,
  :file "./starwars/planets.csv",
  :distinct true,
  :sorted false,
  :count 146,
  :quality -41,
  :single-words 123,
  :special-chars 31}
 {:max-length 19,
  :min-length 4,
  :empty-lines 0,
  :dups ("Strawberry"),
  :file "./science/plants-pollinated-by-bees-en.csv",
  :distinct false,
  :sorted false,
  :count 139,
  :quality -42,
  :single-words 94,
  :special-chars 47}
 {:max-length 21,
  :min-length 3,
  :empty-lines 0,
  :dups ("Argentite" "Chrysotile"),
  :file "./science/chemistry-metals-en.csv",
  :distinct false,
  :sorted false,
  :count 1514,
  :quality -51,
  :single-words 1501,
  :special-chars 56}
 {:max-length 16,
  :min-length 1,
  :empty-lines 0,
  :dups ("Zhakul" "Cantar"),
  :file "./culture/starcraft/planet-names.csv",
  :distinct false,
  :sorted false,
  :count 191,
  :quality -87,
  :single-words 111,
  :special-chars 87}
 {:max-length 26,
  :min-length 4,
  :empty-lines 0,
  :dups nil,
  :file "./colors/sRGB-EN.csv",
  :distinct true,
  :sorted false,
  :count 336,
  :quality -241,
  :single-words 93,
  :special-chars 246}
 {:max-length 38,
  :min-length 5,
  :empty-lines 0,
  :dups nil,
  :file "./Scientists/famous-names.csv",
  :distinct true,
  :sorted false,
  :count 424,
  :quality -400,
  :single-words 20,
  :special-chars 405}
 {:max-length 222,
  :min-length 0,
  :empty-lines 1,
  :dups ("Mishael" "Eli" "Rahab"),
  :file "./culture/biblical-names-en.csv",
  :distinct false,
  :sorted false,
  :count 2730,
  :quality -573,
  :single-words 2324,
  :special-chars 563}
 {:max-length 33,
  :min-length 3,
  :empty-lines 0,
  :dups ("Sandbar shark" "Yellowfin tuna"),
  :file "./science/fish-names-en.csv",
  :distinct false,
  :sorted false,
  :count 1068,
  :quality -587,
  :single-words 491,
  :special-chars 592})
